
<h1 class="akhil">contact</h1>

    <div class="p">
<div>
Name: Nidhin K.G
</div>
<div>
    Phone No: 8590503567
    </div>
    <div>
        Email: nidhinkg100@gmail.com
        </div>


</div>


 


